@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family: "Poppins", sans-serif;
    background-color: #f5f3f3;
}

.navColor{
    background-color:#f5f3f3 !important ;
}

button{
    font-size: 14px;
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color: #3c3cd3;
    color: white;
   
}

button:hover{
    opacity: 0.8;
}
.footer_logo{
    display: inline-block;
}

.bi-facebook{
    padding: 3px;
    border-radius: 5px;
    color: #316FF6;
    background-color: #fff;
}
.bi-instagram{
    background-image: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    padding: 3px;
    border-radius: 5px;
    color: #fff;
    
} 
.bi-threads{
    padding: 3px;
    border-radius: 5px;
    color:#000;
    background-color: #fff;
}

.bi-twitter{
    padding: 3px;
    border-radius: 5px;
    color: #1DA1F2;
    background-color: #fff;
}

@media (min-width: 1000px){
    .logo:hover{
        color: #fff !important;
        background-color: #000;
    }
    
}

@media (max-width: 575.98px) { 
    .marginBottom{
        margin-bottom: 10px;
    }
    .cardBody{
        padding: 5px !important;
    }
    .lineHeight{
        line-height: 25px !important;
    }
   .maint_503{
    font-size: 17px;
        font-weight: 700;
   }
 }


 /* loader style start from here */

 .loader{
    background-color: #9f9999;
    animation: mymove 5s infinite;
     visibility: hidden; 
 }

 .loader.display{
    visibility: visible;
    
 }

 @keyframes mymove {
    50% {opacity: 0.3;}
  }

  .loader_span{
   
    height: 20px;
    width: 40px;
    display: inline-block;
     border-radius: 8px;
     background-color: #d9d9d9;
  }

  .loader_title{
    height: 30px;
    width: 100px;
     border-radius: 8px;
     background-color: #d9d9d9;
  }

  .loader_content{
    height: 30px;
    width: 400px;
     border-radius: 8px;
     background-color: #d9d9d9;
  }

 


  @media (max-width: 575.98px){
    .loader_content{
        width: 100%;
    }
    .single_loader{
        height: 40vh !important;
    }
  }


  /* signup page */

  .sigupPage_titile{
    background-image: url("https://media.istockphoto.com/id/1156837650/photo/javascript-code-computer-language-programming-internet-text-editor-components-display-screen.jpg?b=1&s=612x612&w=0&k=20&c=lhki88iyksoEJ_-XfrJd-MV6zUph2Dcij8VmGrQG1xg=");
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #fff;
    gap: 125px;
    background-repeat: no-repeat;
    background-size: cover;
    }

  .btn-gradient {
    background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
    border: 0;
    color: #fff;
  }

  .display_none{
        display: none;
  }

  .warn{
    margin: 0px;
    font-size: 12px;
    color: red;
    text-align: end;
    margin-top: 2px;
    
  }

  @media (max-width: 575.98px){
    .sigupPage_titile{
        margin-bottom: 30px;
        display: none !important;
    }
    .display_none{
        display: block;
        text-align: center;
        margin-top: 20px;
        font-weight: 700;
    }
    .greeting{
        display: none;
    }
  }

  @media (min-width:576px) and (max-width: 767px){
    .sigupPage_titile{
        margin-bottom: 30px;
        display: none !important;
    }
    .display_none{
        display: block;
        text-align: center;
        margin-top: 20px;
        font-weight: 700;
    }
  }